body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
  }

  nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    
  }

  nav a:hover {
    color: #ffd700;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }

  .card {
    width: 30%;
    margin: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
    span {
      color: red;
    }
  }

  .card:hover {
    transform: scale(1.05);
    background-color: #f9f9f9;
  }

  .card img {
    width: 100%;
    height: auto;
  }

  .card-content {
    padding: 15px;
  }

  .card-content h3 {
    color: #333;
  }

  .card-content p {
    color: #666;
  }

  form {
    background-color: #eee;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }

  form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }

  form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  form button {
    background-color: #444;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  form button:hover {
    background-color: #333;
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
  }